/*global variables*/
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body::-webkit-scrollbar {
  width: 20px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #222222;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  border: 3px solid lightblue;  /* creates padding around scroll thumb */
}

/*ANIMATION*/
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 25px solid #fed;
  border-color: #fed transparent #fed transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


/*header*/
header{
	color: #66d9ff;
	background:#222222;
	min-height: 75px;
	    padding-top:25px;
}
.container{
	width: 80%;
	margin: auto;
}
header ul{
	margin: 0px;
	padding: 0;
}
header li{
	display: inline;
	padding: 0 30px 0 30px;
	    padding-top:25px;

}
header a{
    padding-top:55px;
    padding-bottom:35px;
	color: #66d9ff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Kulim Park', sans-serif;
}
header #branding{
	float: left;
	    color:white;
	    margin-right:2px;
}
header #branding h1{
	margin: 0;
	font-size: 3.0em;
	font-family: 'Oswald';'Alegreya SC', serif;

}
header nav{
	float: right;
	margin-top: 20px;
}
header .highlight, header .current a, .current{
	color: #0066ff;
	font-weight: bold;
}
header a:hover{
    padding-right:10px;
    padding-left:10px;
    color:#ec343c;
    text-decoration:none;	
	font-weight: bold;
    background-color:#ec343c;
    color: white;

}

/*dropdown bar*/
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  display: block;
}
.dropdown-content a:hover {
	background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*main display*/
.main-display{
    margin: 0 auto;
    padding: 0 1.5em;
	border-top: solid 3px #000;
	background-image: url("images/texture.jpg");
    background-size: cover;
}
.label{
	text-align: center;
	font-size: 2.5em;
	font-family: 'Alegreya SC', serif;
	color: black;
}
.store-items{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*individual item containers*/
.shop-item{
	margin: 0;
	padding: 20px;
}
.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
	font-family: 'Kulim Park', sans-serif;
    margin-bottom: 15px;
}
.box{
	height: 300px;
	width: 300px;
}
.shop-item-image{
	max-height: 100%;
	width: 100%;
}
.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}
.shop-item-price {
    flex-grow: 1;
    color: black;
	font-family: 'Kulim Park', sans-serif;
}
/*buttons*/
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
	font-family: 'Kulim Park', sans-serif;
	color: #fff;
}
.btn-primary {
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

/*cart section*/
.cart-display{
    margin: 0;
    padding: .5em 4.5em;
	font-family: 'Kulim Park', sans-serif;
	background-image: url("images/texture2.jpg");
    background-size: cover;
}
.cart-display h1{
	text-align: center;
	font-size: 2.5em;
	font-family: 'Alegreya SC', serif;
	color: #333;
}
.cart-row {
    display: flex;
}
.cart-item {
    width: 45%;
}
.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}
.cart-quantity {
    width: 35%;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}
.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-right: 20px;
}
.cart-total-price {
    color: #333;
    font-size: 1.1em;
}
.btn-purchase {
    display: block;
    margin: 20px auto 40px auto;
    font-size: 1em;
}

/*javascript appears*/
.cart-item-title{
	padding: 10px;
}
.cart-quantity-input{
	width: 50px;
}
.btn-danger{
	color: #000;
}

/*footer*/
footer{
	padding: 20px;
	color: #fff;
	background: #35424A;
	text-align: center;
}

/*media queries*/
@media(max-width: 1200px){
	header #branding, header nav, header nav li{
		float: none;
		text-align: center;
		width: 100%;
	}
	header{
		padding-bottom: 20px;
	}
}
@media(max-width: 500px){
	.cart-item span{
		width: 33%;
	}
	.cart-price span{
		width: 33%;
	}
	.cart-quantity span{
		width: 33%;
	}
	/*
	.cart-quantity-input, .btn-danger{
		display: none;
	}*/
}